@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vazirmatn:wght@100..900&display=swap");

:root,
:root.dark {
  /* font-family: "Vazirmatn", sans-serif; */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  --main-bg: #1b1b1b;
  --gray-bg: #343434;
  --gray: #696969;
  --color: #fbfbfb;
  --primary: #3a75f7;
  /* --primary: #ff5700; */
  --navbar-bg: #000000;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(53, 53, 53);
}

#container {
  background-color: var(--main-bg);
  color: var(--color);
  min-width: 360px;
  max-width: 1000px;
  height: max-content;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

#container > div {
  padding: 1rem;
}

/* Home Page Style  */
#homepage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#homepage-container .header {
  display: grid;
  grid-template-columns: 70px auto 70px;
  grid-template-rows: 1fr auto;
  row-gap: 1.5rem;
  justify-content: space-between;
}

#homepage-container .header .profile {
  aspect-ratio: 1 / 1;
  border: 0.4rem solid var(--gray-bg);
  border-radius: 50%;
  transition: all 0.2s ease;
}

#homepage-container .header .profile:hover {
  border-color: var(--primary);
}

#homepage-container .header .profile img {
  border-radius: 50%;
}

/* Notification Icon and Other header Buttons */
.navicon {
  background-color: var(--color);
  border: 0.4rem solid var(--gray-bg);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.navicon i {
  font-size: 1.7rem;
  color: var(--main-bg);
  transition: all 0.2s ease-in-out;
}

.navicon:hover {
  background: var(--primary);
}

.navicon:hover i {
  color: var(--color);
}

#homepage-container .header .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homepage-container .header .welcome h3 {
  color: var(--gray);
}
#homepage-container .header .welcome p {
  font-size: 1.2rem;
  font-weight: 500;
}

#homepage-container .header .search-bar {
  background-color: var(--gray-bg);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  grid-column: 1 / -1;
  display: flex;
}

#homepage-container .header .search-bar > i {
  font-size: 1.3rem;
}

#homepage-container .header .search-bar input {
  background-color: inherit;
  border: none;
  margin-left: 1rem;
  color: var(--color);
}
#homepage-container .header .search-bar input {
  outline: none;
}

/* Buttom Floating Navbar */

#navbar {
  display: flex;
  width: 90%;
  max-width: 500px;
  justify-content: space-between;
  background-color: var(--navbar-bg);
  border-radius: 4rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  padding: 5px;
  z-index: 3;
}

#navbar i {
  font-size: 1.7rem;
}

#navbar div {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#navbar div:hover {
  color: var(--primary);
}

#navbar .newtask-btn {
  background-color: var(--primary);
}

#navbar .newtask-btn i {
  font-size: 3rem;
}
#navbar .newtask-btn:hover {
  color: var(--color);
  background-color: var(--navbar-bg);
  outline: 2px solid var(--primary);
}
.current-page-indicator {
  color: var(--primary);
  position: relative;
}

.current-page-indicator::after {
  content: "-";
  position: absolute;
  bottom: 5px;
  font-weight: 900;
}

/* Homepage Tasks Container - Task section */

#homepage-container .homepage-tasks .tasks-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  row-gap: 1rem;
  padding-right: 1rem;
}

#homepage-container .homepage-tasks .tasks-container .task-card {
  background-color: var(--color);
  border-radius: 2.3rem;
  border-bottom-right-radius: 1rem;
  padding: 1.5rem;
  color: var(--main-bg);
  line-height: 2;
  position: relative;
}

.homepage-tasks .tasks-container .task-card:last-child {
  margin-bottom: 5rem;
}

#homepage-container .homepage-tasks .tasks-container .task-card p {
  color: var(--gray);
  font-size: 0.9rem;
}

.task-card .task-status {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 1px solid var(--navbar-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  outline: 2px solid var(--main-bg);
  color: var(--color);
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.task-card .task-status.done {
  background-color: var(--navbar-bg);
  outline: 2px solid var(--color);
}

.task-card .task-status i {
  font-size: 1.5rem;
}

.task-card .task-remove {
  position: absolute;
  color: rgb(158, 27, 27);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.3rem;
  right: 1%;
  bottom: 1%;
  cursor: pointer;
}

/* New Task Form Modal */
.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  background-color: var(--main-bg);
  border: 1px solid var(--gray-bg);
  padding: 1.5rem;
  border-radius: 2rem;
  width: 90%;
  z-index: 11;
}

.modal-backdrop {
  width: 100vh;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: none;
}

#newtask-modal {
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  z-index: -10;
}

#newtask-modal form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
}

#newtask-modal form legend {
  align-self: center;
  font-weight: 600;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#newtask-modal form input,
#newtask-modal form textarea {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  height: 3rem;
  background-color: var(--gray-bg);
  padding: 1rem;
}

#newtask-modal form textarea {
  height: 6rem;
}

#newtask-modal form .btn-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.1s ease;
}

form input:focus,
form textarea:focus {
  outline: 1px solid var(--primary);
}

form input:user-invalid,
form textarea:user-invalid {
  outline: 2px solid rgb(138, 23, 23);
}

form input:user-valid,
form textarea:user-valid {
  outline: 2px solid rgb(18, 126, 84);
}

.submit-btn {
  background-color: var(--primary);
}

.submit-btn:hover {
  outline: 1px solid var(--primary);
  background-color: inherit;
}

.cancel-btn {
  background-color: rgb(110, 14, 14);
}

.cancel-btn:hover {
  outline: 2px solid rgb(110, 14, 14);
  background-color: inherit;
}
